.phan-trang{
	text-align: center;
	font-size: 20px;
	margin: 40px 0;
}
.phan-trang .chuyen-trang{
	text-decoration: none;
	color: var(--main-color2);
}
.phan-trang button{
	width: 40px;
	height: 40px;
	background-color: var(--main-color1);
	margin: 0 10px;
	border-radius: 50%;
	border: none;
}
.phan-trang button a{
	color: white;
	text-decoration: none;
}

